.jumbotron{ 
	background-color: yellow;
	color: black;
	margin-top: 40px;
 }

 footer { 
 	padding: 10px 10px 0 10px;
 	background-color: yellow;
 	margin-bottom: 0px;
 	margin-top: 10px;
 	margin-left: 10px;

  }

.card-hotel { 
	flex: 1 220px;
	margin-top: 10px;
 }
 .carousel {

 	margin-bottom:10px;
 }

 .btn {
 	background-color:  #42075E;
 	width:200px;
 }
.btn:hover {
 	background-color: #745684;
}
 .btn-reserva {
 	width: 100%;
 	border-radius: 0px;
 	background-color:  #42075E;
 	outline-color:  #42075E;
 }

 .btn-reserva:hover {
 	background-color: #745684;
}

 .footer-address-icon{ 
 	padding-right: 15px;
  }

 .tab-content {
 	padding-top: 5px;
 }

