@color1: #FFE4E1;
@colorbtn: #7B68EE;

.margenes(@top: 0px, @bottom: 0px){ 
	margin-top: @top;
	margin-bottom: @bottom;

}

.jumbotron{ 
	background-color: @color1;
	color: black;
	.margenes(50px, 10px);
 }

 footer { 
 	padding: 10px 10px 0 10px;
 	background-color: @color1;
 	.margenes(10px, 10px);
 	margin-left: 10px;

  }

.card-hotel { 
	flex: 1 220px;
	.margenes(10px, 10px);
 }
 .carousel {

 	margin-bottom:10px;
 }

 .btn {
 	background-color:  @colorbtn;
 	width:200px;
 }
.btn:hover {
 	background-color: #745684;
}
 .btn-reserva {
 	width: 100%;
 	border-radius: 0px;
 	background-color: @colorbtn;
 	outline-color:  #42075E;
 }

 .btn-reserva:hover {
 	background-color: #745684;
}

 .footer-address-icon{ 
 	padding-right: 15px;
  }

 .tab-content {
 	padding-top: 5px;
 }
