$rosa: #FFE4E1;
$morado: #7B68EE;
$morado-oscuro: #745684;

@mixin margenes($top, $bottom){ 
	margin-top: $top;
	margin-bottom: $bottom; 
}

.jumbotron{ 
	background-color: $rosa;
	color: black;
	@include margenes(50px, 20px);
 }

 footer { 
 	padding: 10px 10px 0 10px;
 	background-color: $rosa;
 	@include margenes(10px, 10px);
 	margin-left: 10px;

  }

.card-hotel { 
	flex: 1 220px;
	@include margenes(10px, 0px);
 }
 .carousel {

 	margin-bottom:10px;
 }

 .btn {
 	background-color:  $morado;
 	width:200px;
 }
.btn:hover {
 	background-color: $morado-oscuro;
}
 .btn-reserva {
 	width: 100%;
 	border-radius: 0px;
 	background-color: $morado;
 	outline-color:  #42075E;
 }

 .btn-reserva:hover {
 	background-color: $morado-oscuro;
}

 .footer-address-icon{ 
 	padding-right: 15px;
  }

 .tab-content {
 	padding-top: 5px;
 }

