.jumbotron {
  background-color: #FFE4E1;
  color: black;
  margin-top: 50px;
  margin-bottom: 20px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #FFE4E1;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.card-hotel {
  flex: 1 220px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.carousel {
  margin-bottom: 10px;
}

.btn {
  background-color: #7B68EE;
  width: 200px;
}

.btn:hover {
  background-color: #745684;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  background-color: #7B68EE;
  outline-color: #42075E;
}

.btn-reserva:hover {
  background-color: #745684;
}

.footer-address-icon {
  padding-right: 15px;
}

.tab-content {
  padding-top: 5px;
}

/*# sourceMappingURL=style.css.map */
